/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package dom.com.ssd.ecfx.sdk.api

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import dom.com.ssd.ecfx.sdk.models.Directorio
import dom.com.ssd.ecfx.sdk.models.ProblemDetails
import dom.com.ssd.ecfx.sdk.models.RespuestaConsultaEstado
import dom.com.ssd.ecfx.sdk.models.RespuestaConsultaRFCE
import dom.com.ssd.ecfx.sdk.models.RespuestaConsultaTimbre
import dom.com.ssd.ecfx.sdk.models.RespuestaConsultaTrackId
import dom.com.ssd.ecfx.sdk.models.RespuestaEstatusServicio
import dom.com.ssd.ecfx.sdk.models.RespuestaVentanaDeMantenimiento

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import dom.com.ssd.ecfx.sdk.infrastructure.ApiClient
import dom.com.ssd.ecfx.sdk.infrastructure.ApiResponse
import dom.com.ssd.ecfx.sdk.infrastructure.ClientException
import dom.com.ssd.ecfx.sdk.infrastructure.ClientError
import dom.com.ssd.ecfx.sdk.infrastructure.ServerException
import dom.com.ssd.ecfx.sdk.infrastructure.ServerError
import dom.com.ssd.ecfx.sdk.infrastructure.MultiValueMap
import dom.com.ssd.ecfx.sdk.infrastructure.PartConfig
import dom.com.ssd.ecfx.sdk.infrastructure.RequestConfig
import dom.com.ssd.ecfx.sdk.infrastructure.RequestMethod
import dom.com.ssd.ecfx.sdk.infrastructure.ResponseType
import dom.com.ssd.ecfx.sdk.infrastructure.Success
import dom.com.ssd.ecfx.sdk.infrastructure.toMultiValue
import dom.com.ssd.ecfx.sdk.infrastructure.Serializer

open class DgiiApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.test.ecfx.ssd.com.do")
        }
    }

    /**
     * GET /dgii/{rnc}/consultadirectorio/listado
     * 
     * 
     * @param rnc 
     * @return kotlin.collections.List<Directorio>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consultaDirectorioListado(rnc: kotlin.String) : kotlin.collections.List<Directorio> = withContext(Dispatchers.IO) {
        val localVarResponse = consultaDirectorioListadoWithHttpInfo(rnc = rnc)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<Directorio>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /dgii/{rnc}/consultadirectorio/listado
     * 
     * 
     * @param rnc 
     * @return ApiResponse<kotlin.collections.List<Directorio>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consultaDirectorioListadoWithHttpInfo(rnc: kotlin.String) : ApiResponse<kotlin.collections.List<Directorio>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consultaDirectorioListadoRequestConfig(rnc = rnc)

        return@withContext request<Unit, kotlin.collections.List<Directorio>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consultaDirectorioListado
     *
     * @param rnc 
     * @return RequestConfig
     */
    fun consultaDirectorioListadoRequestConfig(rnc: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/dgii/{rnc}/consultadirectorio/listado".replace("{"+"rnc"+"}", encodeURIComponent(rnc.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /dgii/{rnc}/consultadirectorio/obtener-directorio-por-rnc
     * 
     * 
     * @param rnc 
     * @param RNC 
     * @return Directorio
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consultaDirectorioObtenerDirectorioPorRnc(rnc: kotlin.String, RNC: kotlin.String) : Directorio = withContext(Dispatchers.IO) {
        val localVarResponse = consultaDirectorioObtenerDirectorioPorRncWithHttpInfo(rnc = rnc, RNC = RNC)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Directorio
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /dgii/{rnc}/consultadirectorio/obtener-directorio-por-rnc
     * 
     * 
     * @param rnc 
     * @param RNC 
     * @return ApiResponse<Directorio?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consultaDirectorioObtenerDirectorioPorRncWithHttpInfo(rnc: kotlin.String, RNC: kotlin.String) : ApiResponse<Directorio?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consultaDirectorioObtenerDirectorioPorRncRequestConfig(rnc = rnc, RNC = RNC)

        return@withContext request<Unit, Directorio>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consultaDirectorioObtenerDirectorioPorRnc
     *
     * @param rnc 
     * @param RNC 
     * @return RequestConfig
     */
    fun consultaDirectorioObtenerDirectorioPorRncRequestConfig(rnc: kotlin.String, RNC: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("RNC", listOf(RNC.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/dgii/{rnc}/consultadirectorio/obtener-directorio-por-rnc".replace("{"+"rnc"+"}", encodeURIComponent(rnc.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /dgii/{rnc}/consultaestado/estado
     * 
     * 
     * @param rnc 
     * @param rncEmisor 
     * @param ncfElectronico 
     * @param rncComprador 
     * @param codigoSeguridad 
     * @return RespuestaConsultaEstado
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consultaEstado(rnc: kotlin.String, rncEmisor: kotlin.String, ncfElectronico: kotlin.String, rncComprador: kotlin.String, codigoSeguridad: kotlin.String) : RespuestaConsultaEstado = withContext(Dispatchers.IO) {
        val localVarResponse = consultaEstadoWithHttpInfo(rnc = rnc, rncEmisor = rncEmisor, ncfElectronico = ncfElectronico, rncComprador = rncComprador, codigoSeguridad = codigoSeguridad)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RespuestaConsultaEstado
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /dgii/{rnc}/consultaestado/estado
     * 
     * 
     * @param rnc 
     * @param rncEmisor 
     * @param ncfElectronico 
     * @param rncComprador 
     * @param codigoSeguridad 
     * @return ApiResponse<RespuestaConsultaEstado?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consultaEstadoWithHttpInfo(rnc: kotlin.String, rncEmisor: kotlin.String, ncfElectronico: kotlin.String, rncComprador: kotlin.String, codigoSeguridad: kotlin.String) : ApiResponse<RespuestaConsultaEstado?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consultaEstadoRequestConfig(rnc = rnc, rncEmisor = rncEmisor, ncfElectronico = ncfElectronico, rncComprador = rncComprador, codigoSeguridad = codigoSeguridad)

        return@withContext request<Unit, RespuestaConsultaEstado>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consultaEstado
     *
     * @param rnc 
     * @param rncEmisor 
     * @param ncfElectronico 
     * @param rncComprador 
     * @param codigoSeguridad 
     * @return RequestConfig
     */
    fun consultaEstadoRequestConfig(rnc: kotlin.String, rncEmisor: kotlin.String, ncfElectronico: kotlin.String, rncComprador: kotlin.String, codigoSeguridad: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("rncEmisor", listOf(rncEmisor.toString()))
                put("ncfElectronico", listOf(ncfElectronico.toString()))
                put("rncComprador", listOf(rncComprador.toString()))
                put("codigoSeguridad", listOf(codigoSeguridad.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/dgii/{rnc}/consultaestado/estado".replace("{"+"rnc"+"}", encodeURIComponent(rnc.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /dgii/{rnc}/consultarfce/consulta
     * 
     * 
     * @param rnc 
     * @param rnCEmisor 
     * @param ENCF 
     * @param codSeguridadECF 
     * @return RespuestaConsultaRFCE
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consultaRFCE(rnc: kotlin.String, rnCEmisor: kotlin.String, ENCF: kotlin.String, codSeguridadECF: kotlin.String) : RespuestaConsultaRFCE = withContext(Dispatchers.IO) {
        val localVarResponse = consultaRFCEWithHttpInfo(rnc = rnc, rnCEmisor = rnCEmisor, ENCF = ENCF, codSeguridadECF = codSeguridadECF)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RespuestaConsultaRFCE
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /dgii/{rnc}/consultarfce/consulta
     * 
     * 
     * @param rnc 
     * @param rnCEmisor 
     * @param ENCF 
     * @param codSeguridadECF 
     * @return ApiResponse<RespuestaConsultaRFCE?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consultaRFCEWithHttpInfo(rnc: kotlin.String, rnCEmisor: kotlin.String, ENCF: kotlin.String, codSeguridadECF: kotlin.String) : ApiResponse<RespuestaConsultaRFCE?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consultaRFCERequestConfig(rnc = rnc, rnCEmisor = rnCEmisor, ENCF = ENCF, codSeguridadECF = codSeguridadECF)

        return@withContext request<Unit, RespuestaConsultaRFCE>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consultaRFCE
     *
     * @param rnc 
     * @param rnCEmisor 
     * @param ENCF 
     * @param codSeguridadECF 
     * @return RequestConfig
     */
    fun consultaRFCERequestConfig(rnc: kotlin.String, rnCEmisor: kotlin.String, ENCF: kotlin.String, codSeguridadECF: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("RNC_Emisor", listOf(rnCEmisor.toString()))
                put("ENCF", listOf(ENCF.toString()))
                put("Cod_Seguridad_eCF", listOf(codSeguridadECF.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/dgii/{rnc}/consultarfce/consulta".replace("{"+"rnc"+"}", encodeURIComponent(rnc.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /dgii/{rnc}/consultaresultado/estado
     * 
     * 
     * @param rnc 
     * @param trackId 
     * @return RespuestaConsultaTrackId
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consultaResultado(rnc: kotlin.String, trackId: kotlin.String) : RespuestaConsultaTrackId = withContext(Dispatchers.IO) {
        val localVarResponse = consultaResultadoWithHttpInfo(rnc = rnc, trackId = trackId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RespuestaConsultaTrackId
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /dgii/{rnc}/consultaresultado/estado
     * 
     * 
     * @param rnc 
     * @param trackId 
     * @return ApiResponse<RespuestaConsultaTrackId?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consultaResultadoWithHttpInfo(rnc: kotlin.String, trackId: kotlin.String) : ApiResponse<RespuestaConsultaTrackId?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consultaResultadoRequestConfig(rnc = rnc, trackId = trackId)

        return@withContext request<Unit, RespuestaConsultaTrackId>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consultaResultado
     *
     * @param rnc 
     * @param trackId 
     * @return RequestConfig
     */
    fun consultaResultadoRequestConfig(rnc: kotlin.String, trackId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("trackId", listOf(trackId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/dgii/{rnc}/consultaresultado/estado".replace("{"+"rnc"+"}", encodeURIComponent(rnc.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /dgii/{rnc}/consultatimbre
     * 
     * 
     * @param rnc 
     * @param rncemisor 
     * @param encf 
     * @param montototal 
     * @param codigoseguridad 
     * @return RespuestaConsultaTimbre
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consultaTimbre(rnc: kotlin.String, rncemisor: kotlin.String, encf: kotlin.String, montototal: kotlin.String, codigoseguridad: kotlin.String) : RespuestaConsultaTimbre = withContext(Dispatchers.IO) {
        val localVarResponse = consultaTimbreWithHttpInfo(rnc = rnc, rncemisor = rncemisor, encf = encf, montototal = montototal, codigoseguridad = codigoseguridad)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RespuestaConsultaTimbre
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /dgii/{rnc}/consultatimbre
     * 
     * 
     * @param rnc 
     * @param rncemisor 
     * @param encf 
     * @param montototal 
     * @param codigoseguridad 
     * @return ApiResponse<RespuestaConsultaTimbre?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consultaTimbreWithHttpInfo(rnc: kotlin.String, rncemisor: kotlin.String, encf: kotlin.String, montototal: kotlin.String, codigoseguridad: kotlin.String) : ApiResponse<RespuestaConsultaTimbre?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consultaTimbreRequestConfig(rnc = rnc, rncemisor = rncemisor, encf = encf, montototal = montototal, codigoseguridad = codigoseguridad)

        return@withContext request<Unit, RespuestaConsultaTimbre>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consultaTimbre
     *
     * @param rnc 
     * @param rncemisor 
     * @param encf 
     * @param montototal 
     * @param codigoseguridad 
     * @return RequestConfig
     */
    fun consultaTimbreRequestConfig(rnc: kotlin.String, rncemisor: kotlin.String, encf: kotlin.String, montototal: kotlin.String, codigoseguridad: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("rncemisor", listOf(rncemisor.toString()))
                put("encf", listOf(encf.toString()))
                put("montototal", listOf(montototal.toString()))
                put("codigoseguridad", listOf(codigoseguridad.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/dgii/{rnc}/consultatimbre".replace("{"+"rnc"+"}", encodeURIComponent(rnc.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /dgii/{rnc}/consultatimbrefc
     * 
     * 
     * @param rnc 
     * @param rncemisor 
     * @param encf 
     * @param montototal 
     * @param codigoseguridad 
     * @return RespuestaConsultaTimbre
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consultaTimbreFC(rnc: kotlin.String, rncemisor: kotlin.String, encf: kotlin.String, montototal: kotlin.String, codigoseguridad: kotlin.String) : RespuestaConsultaTimbre = withContext(Dispatchers.IO) {
        val localVarResponse = consultaTimbreFCWithHttpInfo(rnc = rnc, rncemisor = rncemisor, encf = encf, montototal = montototal, codigoseguridad = codigoseguridad)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RespuestaConsultaTimbre
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /dgii/{rnc}/consultatimbrefc
     * 
     * 
     * @param rnc 
     * @param rncemisor 
     * @param encf 
     * @param montototal 
     * @param codigoseguridad 
     * @return ApiResponse<RespuestaConsultaTimbre?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consultaTimbreFCWithHttpInfo(rnc: kotlin.String, rncemisor: kotlin.String, encf: kotlin.String, montototal: kotlin.String, codigoseguridad: kotlin.String) : ApiResponse<RespuestaConsultaTimbre?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consultaTimbreFCRequestConfig(rnc = rnc, rncemisor = rncemisor, encf = encf, montototal = montototal, codigoseguridad = codigoseguridad)

        return@withContext request<Unit, RespuestaConsultaTimbre>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consultaTimbreFC
     *
     * @param rnc 
     * @param rncemisor 
     * @param encf 
     * @param montototal 
     * @param codigoseguridad 
     * @return RequestConfig
     */
    fun consultaTimbreFCRequestConfig(rnc: kotlin.String, rncemisor: kotlin.String, encf: kotlin.String, montototal: kotlin.String, codigoseguridad: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("rncemisor", listOf(rncemisor.toString()))
                put("encf", listOf(encf.toString()))
                put("montototal", listOf(montototal.toString()))
                put("codigoseguridad", listOf(codigoseguridad.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/dgii/{rnc}/consultatimbrefc".replace("{"+"rnc"+"}", encodeURIComponent(rnc.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /dgii/{rnc}/consultatrackids/consulta
     * 
     * 
     * @param rnc 
     * @param rncEmisor 
     * @param encf 
     * @return RespuestaConsultaTrackId
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun consultaTrackId(rnc: kotlin.String, rncEmisor: kotlin.String, encf: kotlin.String) : RespuestaConsultaTrackId = withContext(Dispatchers.IO) {
        val localVarResponse = consultaTrackIdWithHttpInfo(rnc = rnc, rncEmisor = rncEmisor, encf = encf)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RespuestaConsultaTrackId
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /dgii/{rnc}/consultatrackids/consulta
     * 
     * 
     * @param rnc 
     * @param rncEmisor 
     * @param encf 
     * @return ApiResponse<RespuestaConsultaTrackId?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun consultaTrackIdWithHttpInfo(rnc: kotlin.String, rncEmisor: kotlin.String, encf: kotlin.String) : ApiResponse<RespuestaConsultaTrackId?> = withContext(Dispatchers.IO) {
        val localVariableConfig = consultaTrackIdRequestConfig(rnc = rnc, rncEmisor = rncEmisor, encf = encf)

        return@withContext request<Unit, RespuestaConsultaTrackId>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation consultaTrackId
     *
     * @param rnc 
     * @param rncEmisor 
     * @param encf 
     * @return RequestConfig
     */
    fun consultaTrackIdRequestConfig(rnc: kotlin.String, rncEmisor: kotlin.String, encf: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("rncEmisor", listOf(rncEmisor.toString()))
                put("encf", listOf(encf.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/dgii/{rnc}/consultatrackids/consulta".replace("{"+"rnc"+"}", encodeURIComponent(rnc.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /dgii/{rnc}/estatusservicios/obtener-estatus
     * 
     * 
     * @param rnc 
     * @return kotlin.collections.List<RespuestaEstatusServicio>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun estatusServiciosObtenerEstatus(rnc: kotlin.String) : kotlin.collections.List<RespuestaEstatusServicio> = withContext(Dispatchers.IO) {
        val localVarResponse = estatusServiciosObtenerEstatusWithHttpInfo(rnc = rnc)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<RespuestaEstatusServicio>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /dgii/{rnc}/estatusservicios/obtener-estatus
     * 
     * 
     * @param rnc 
     * @return ApiResponse<kotlin.collections.List<RespuestaEstatusServicio>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun estatusServiciosObtenerEstatusWithHttpInfo(rnc: kotlin.String) : ApiResponse<kotlin.collections.List<RespuestaEstatusServicio>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = estatusServiciosObtenerEstatusRequestConfig(rnc = rnc)

        return@withContext request<Unit, kotlin.collections.List<RespuestaEstatusServicio>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation estatusServiciosObtenerEstatus
     *
     * @param rnc 
     * @return RequestConfig
     */
    fun estatusServiciosObtenerEstatusRequestConfig(rnc: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/dgii/{rnc}/estatusservicios/obtener-estatus".replace("{"+"rnc"+"}", encodeURIComponent(rnc.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /dgii/{rnc}/estatusservicios/obtener-ventanas-mantenimiento
     * 
     * 
     * @param rnc 
     * @return RespuestaVentanaDeMantenimiento
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun estatusServiciosObtenerVentanasMantenimiento(rnc: kotlin.String) : RespuestaVentanaDeMantenimiento = withContext(Dispatchers.IO) {
        val localVarResponse = estatusServiciosObtenerVentanasMantenimientoWithHttpInfo(rnc = rnc)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RespuestaVentanaDeMantenimiento
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /dgii/{rnc}/estatusservicios/obtener-ventanas-mantenimiento
     * 
     * 
     * @param rnc 
     * @return ApiResponse<RespuestaVentanaDeMantenimiento?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun estatusServiciosObtenerVentanasMantenimientoWithHttpInfo(rnc: kotlin.String) : ApiResponse<RespuestaVentanaDeMantenimiento?> = withContext(Dispatchers.IO) {
        val localVariableConfig = estatusServiciosObtenerVentanasMantenimientoRequestConfig(rnc = rnc)

        return@withContext request<Unit, RespuestaVentanaDeMantenimiento>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation estatusServiciosObtenerVentanasMantenimiento
     *
     * @param rnc 
     * @return RequestConfig
     */
    fun estatusServiciosObtenerVentanasMantenimientoRequestConfig(rnc: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/dgii/{rnc}/estatusservicios/obtener-ventanas-mantenimiento".replace("{"+"rnc"+"}", encodeURIComponent(rnc.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
