/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package dom.com.ssd.ecfx.sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import dom.com.ssd.ecfx.sdk.models.EcfReceptorDto
import dom.com.ssd.ecfx.sdk.models.PaginatedApiResultOfEcfReceptionRequestDto
import dom.com.ssd.ecfx.sdk.models.ProblemDetails
import dom.com.ssd.ecfx.sdk.models.SearchEcfsAmountFromParameter
import dom.com.ssd.ecfx.sdk.models.SendAcecfRequest

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import dom.com.ssd.ecfx.sdk.infrastructure.ApiClient
import dom.com.ssd.ecfx.sdk.infrastructure.ApiResponse
import dom.com.ssd.ecfx.sdk.infrastructure.ClientException
import dom.com.ssd.ecfx.sdk.infrastructure.ClientError
import dom.com.ssd.ecfx.sdk.infrastructure.ServerException
import dom.com.ssd.ecfx.sdk.infrastructure.ServerError
import dom.com.ssd.ecfx.sdk.infrastructure.MultiValueMap
import dom.com.ssd.ecfx.sdk.infrastructure.PartConfig
import dom.com.ssd.ecfx.sdk.infrastructure.RequestConfig
import dom.com.ssd.ecfx.sdk.infrastructure.RequestMethod
import dom.com.ssd.ecfx.sdk.infrastructure.ResponseType
import dom.com.ssd.ecfx.sdk.infrastructure.Success
import dom.com.ssd.ecfx.sdk.infrastructure.toMultiValue
import dom.com.ssd.ecfx.sdk.infrastructure.Serializer

open class RecepcionApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.test.ecfx.ssd.com.do")
        }
    }

    /**
     * GET /recepcion/{messageId}
     * 
     * 
     * @param messageId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getEcfReceptionRequest(messageId: java.util.UUID) : Unit {
        val localVarResponse = getEcfReceptionRequestWithHttpInfo(messageId = messageId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /recepcion/{messageId}
     * 
     * 
     * @param messageId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun getEcfReceptionRequestWithHttpInfo(messageId: java.util.UUID) : ApiResponse<Unit?> {
        val localVariableConfig = getEcfReceptionRequestRequestConfig(messageId = messageId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getEcfReceptionRequest
     *
     * @param messageId 
     * @return RequestConfig
     */
    fun getEcfReceptionRequestRequestConfig(messageId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/problem+json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/recepcion/{messageId}".replace("{"+"messageId"+"}", encodeURIComponent(messageId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /recepcion/{rnc}/{messageId}
     * 
     * 
     * @param rnc 
     * @param messageId 
     * @return EcfReceptorDto
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getEcfReceptorByMessageId(rnc: kotlin.String, messageId: java.util.UUID) : EcfReceptorDto {
        val localVarResponse = getEcfReceptorByMessageIdWithHttpInfo(rnc = rnc, messageId = messageId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as EcfReceptorDto
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /recepcion/{rnc}/{messageId}
     * 
     * 
     * @param rnc 
     * @param messageId 
     * @return ApiResponse<EcfReceptorDto?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getEcfReceptorByMessageIdWithHttpInfo(rnc: kotlin.String, messageId: java.util.UUID) : ApiResponse<EcfReceptorDto?> {
        val localVariableConfig = getEcfReceptorByMessageIdRequestConfig(rnc = rnc, messageId = messageId)

        return request<Unit, EcfReceptorDto>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getEcfReceptorByMessageId
     *
     * @param rnc 
     * @param messageId 
     * @return RequestConfig
     */
    fun getEcfReceptorByMessageIdRequestConfig(rnc: kotlin.String, messageId: java.util.UUID) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/recepcion/{rnc}/{messageId}".replace("{"+"rnc"+"}", encodeURIComponent(rnc.toString())).replace("{"+"messageId"+"}", encodeURIComponent(messageId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /recepcion
     * 
     * 
     * @param messageIds  (optional)
     * @param encfs  (optional)
     * @param rncs  (optional)
     * @param rncEmisors  (optional)
     * @param tiposEcfs  (optional)
     * @param progresses  (optional)
     * @param fromDate  (optional)
     * @param toDate  (optional)
     * @param amountFrom  (optional)
     * @param amountTo  (optional)
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 25)
     * @return PaginatedApiResultOfEcfReceptionRequestDto
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun searchEcfReceptionRequests(messageIds: kotlin.collections.List<java.util.UUID>? = null, encfs: kotlin.collections.List<kotlin.String>? = null, rncs: kotlin.collections.List<kotlin.String>? = null, rncEmisors: kotlin.collections.List<kotlin.String>? = null, tiposEcfs: kotlin.collections.List<Int>? = null, progresses: kotlin.collections.List<Int>? = null, fromDate: kotlin.String? = null, toDate: kotlin.String? = null, amountFrom: SearchEcfsAmountFromParameter? = null, amountTo: SearchEcfsAmountFromParameter? = null, page: Int? = 1, limit: Int? = 25) : PaginatedApiResultOfEcfReceptionRequestDto {
        val localVarResponse = searchEcfReceptionRequestsWithHttpInfo(messageIds = messageIds, encfs = encfs, rncs = rncs, rncEmisors = rncEmisors, tiposEcfs = tiposEcfs, progresses = progresses, fromDate = fromDate, toDate = toDate, amountFrom = amountFrom, amountTo = amountTo, page = page, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PaginatedApiResultOfEcfReceptionRequestDto
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /recepcion
     * 
     * 
     * @param messageIds  (optional)
     * @param encfs  (optional)
     * @param rncs  (optional)
     * @param rncEmisors  (optional)
     * @param tiposEcfs  (optional)
     * @param progresses  (optional)
     * @param fromDate  (optional)
     * @param toDate  (optional)
     * @param amountFrom  (optional)
     * @param amountTo  (optional)
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 25)
     * @return ApiResponse<PaginatedApiResultOfEcfReceptionRequestDto?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun searchEcfReceptionRequestsWithHttpInfo(messageIds: kotlin.collections.List<java.util.UUID>?, encfs: kotlin.collections.List<kotlin.String>?, rncs: kotlin.collections.List<kotlin.String>?, rncEmisors: kotlin.collections.List<kotlin.String>?, tiposEcfs: kotlin.collections.List<Int>?, progresses: kotlin.collections.List<Int>?, fromDate: kotlin.String?, toDate: kotlin.String?, amountFrom: SearchEcfsAmountFromParameter?, amountTo: SearchEcfsAmountFromParameter?, page: Int?, limit: Int?) : ApiResponse<PaginatedApiResultOfEcfReceptionRequestDto?> {
        val localVariableConfig = searchEcfReceptionRequestsRequestConfig(messageIds = messageIds, encfs = encfs, rncs = rncs, rncEmisors = rncEmisors, tiposEcfs = tiposEcfs, progresses = progresses, fromDate = fromDate, toDate = toDate, amountFrom = amountFrom, amountTo = amountTo, page = page, limit = limit)

        return request<Unit, PaginatedApiResultOfEcfReceptionRequestDto>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchEcfReceptionRequests
     *
     * @param messageIds  (optional)
     * @param encfs  (optional)
     * @param rncs  (optional)
     * @param rncEmisors  (optional)
     * @param tiposEcfs  (optional)
     * @param progresses  (optional)
     * @param fromDate  (optional)
     * @param toDate  (optional)
     * @param amountFrom  (optional)
     * @param amountTo  (optional)
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 25)
     * @return RequestConfig
     */
    fun searchEcfReceptionRequestsRequestConfig(messageIds: kotlin.collections.List<java.util.UUID>?, encfs: kotlin.collections.List<kotlin.String>?, rncs: kotlin.collections.List<kotlin.String>?, rncEmisors: kotlin.collections.List<kotlin.String>?, tiposEcfs: kotlin.collections.List<Int>?, progresses: kotlin.collections.List<Int>?, fromDate: kotlin.String?, toDate: kotlin.String?, amountFrom: SearchEcfsAmountFromParameter?, amountTo: SearchEcfsAmountFromParameter?, page: Int?, limit: Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (messageIds != null) {
                    put("MessageIds", toMultiValue(messageIds.toList(), "multi"))
                }
                if (encfs != null) {
                    put("Encfs", toMultiValue(encfs.toList(), "multi"))
                }
                if (rncs != null) {
                    put("Rncs", toMultiValue(rncs.toList(), "multi"))
                }
                if (rncEmisors != null) {
                    put("RncEmisors", toMultiValue(rncEmisors.toList(), "multi"))
                }
                if (tiposEcfs != null) {
                    put("TiposEcfs", toMultiValue(tiposEcfs.toList(), "multi"))
                }
                if (progresses != null) {
                    put("Progresses", toMultiValue(progresses.toList(), "multi"))
                }
                if (fromDate != null) {
                    put("FromDate", listOf(fromDate.toString()))
                }
                if (toDate != null) {
                    put("ToDate", listOf(toDate.toString()))
                }
                if (amountFrom != null) {
                }
                if (amountTo != null) {
                }
                if (page != null) {
                }
                if (limit != null) {
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/recepcion",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /recepcion/{rnc}
     * 
     * 
     * @param rnc 
     * @param messageIds  (optional)
     * @param encfs  (optional)
     * @param rncEmisors  (optional)
     * @param tiposEcfs  (optional)
     * @param progresses  (optional)
     * @param fromDate  (optional)
     * @param toDate  (optional)
     * @param amountFrom  (optional)
     * @param amountTo  (optional)
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 25)
     * @return PaginatedApiResultOfEcfReceptionRequestDto
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun searchEcfReceptionRequestsByRnc(rnc: kotlin.String, messageIds: kotlin.collections.List<java.util.UUID>? = null, encfs: kotlin.collections.List<kotlin.String>? = null, rncEmisors: kotlin.collections.List<kotlin.String>? = null, tiposEcfs: kotlin.collections.List<Int>? = null, progresses: kotlin.collections.List<Int>? = null, fromDate: kotlin.String? = null, toDate: kotlin.String? = null, amountFrom: SearchEcfsAmountFromParameter? = null, amountTo: SearchEcfsAmountFromParameter? = null, page: Int? = 1, limit: Int? = 25) : PaginatedApiResultOfEcfReceptionRequestDto {
        val localVarResponse = searchEcfReceptionRequestsByRncWithHttpInfo(rnc = rnc, messageIds = messageIds, encfs = encfs, rncEmisors = rncEmisors, tiposEcfs = tiposEcfs, progresses = progresses, fromDate = fromDate, toDate = toDate, amountFrom = amountFrom, amountTo = amountTo, page = page, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PaginatedApiResultOfEcfReceptionRequestDto
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /recepcion/{rnc}
     * 
     * 
     * @param rnc 
     * @param messageIds  (optional)
     * @param encfs  (optional)
     * @param rncEmisors  (optional)
     * @param tiposEcfs  (optional)
     * @param progresses  (optional)
     * @param fromDate  (optional)
     * @param toDate  (optional)
     * @param amountFrom  (optional)
     * @param amountTo  (optional)
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 25)
     * @return ApiResponse<PaginatedApiResultOfEcfReceptionRequestDto?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun searchEcfReceptionRequestsByRncWithHttpInfo(rnc: kotlin.String, messageIds: kotlin.collections.List<java.util.UUID>?, encfs: kotlin.collections.List<kotlin.String>?, rncEmisors: kotlin.collections.List<kotlin.String>?, tiposEcfs: kotlin.collections.List<Int>?, progresses: kotlin.collections.List<Int>?, fromDate: kotlin.String?, toDate: kotlin.String?, amountFrom: SearchEcfsAmountFromParameter?, amountTo: SearchEcfsAmountFromParameter?, page: Int?, limit: Int?) : ApiResponse<PaginatedApiResultOfEcfReceptionRequestDto?> {
        val localVariableConfig = searchEcfReceptionRequestsByRncRequestConfig(rnc = rnc, messageIds = messageIds, encfs = encfs, rncEmisors = rncEmisors, tiposEcfs = tiposEcfs, progresses = progresses, fromDate = fromDate, toDate = toDate, amountFrom = amountFrom, amountTo = amountTo, page = page, limit = limit)

        return request<Unit, PaginatedApiResultOfEcfReceptionRequestDto>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchEcfReceptionRequestsByRnc
     *
     * @param rnc 
     * @param messageIds  (optional)
     * @param encfs  (optional)
     * @param rncEmisors  (optional)
     * @param tiposEcfs  (optional)
     * @param progresses  (optional)
     * @param fromDate  (optional)
     * @param toDate  (optional)
     * @param amountFrom  (optional)
     * @param amountTo  (optional)
     * @param page  (optional, default to 1)
     * @param limit  (optional, default to 25)
     * @return RequestConfig
     */
    fun searchEcfReceptionRequestsByRncRequestConfig(rnc: kotlin.String, messageIds: kotlin.collections.List<java.util.UUID>?, encfs: kotlin.collections.List<kotlin.String>?, rncEmisors: kotlin.collections.List<kotlin.String>?, tiposEcfs: kotlin.collections.List<Int>?, progresses: kotlin.collections.List<Int>?, fromDate: kotlin.String?, toDate: kotlin.String?, amountFrom: SearchEcfsAmountFromParameter?, amountTo: SearchEcfsAmountFromParameter?, page: Int?, limit: Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (messageIds != null) {
                    put("MessageIds", toMultiValue(messageIds.toList(), "multi"))
                }
                if (encfs != null) {
                    put("Encfs", toMultiValue(encfs.toList(), "multi"))
                }
                if (rncEmisors != null) {
                    put("RncEmisors", toMultiValue(rncEmisors.toList(), "multi"))
                }
                if (tiposEcfs != null) {
                    put("TiposEcfs", toMultiValue(tiposEcfs.toList(), "multi"))
                }
                if (progresses != null) {
                    put("Progresses", toMultiValue(progresses.toList(), "multi"))
                }
                if (fromDate != null) {
                    put("FromDate", listOf(fromDate.toString()))
                }
                if (toDate != null) {
                    put("ToDate", listOf(toDate.toString()))
                }
                if (amountFrom != null) {
                }
                if (amountTo != null) {
                }
                if (page != null) {
                }
                if (limit != null) {
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json, application/problem+json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/recepcion/{rnc}".replace("{"+"rnc"+"}", encodeURIComponent(rnc.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /recepcion/{messageId}/acecf
     * 
     * 
     * @param messageId 
     * @param sendAcecfRequest 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun sendAprobacionComercial(messageId: java.util.UUID, sendAcecfRequest: SendAcecfRequest) : Unit {
        val localVarResponse = sendAprobacionComercialWithHttpInfo(messageId = messageId, sendAcecfRequest = sendAcecfRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /recepcion/{messageId}/acecf
     * 
     * 
     * @param messageId 
     * @param sendAcecfRequest 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun sendAprobacionComercialWithHttpInfo(messageId: java.util.UUID, sendAcecfRequest: SendAcecfRequest) : ApiResponse<Unit?> {
        val localVariableConfig = sendAprobacionComercialRequestConfig(messageId = messageId, sendAcecfRequest = sendAcecfRequest)

        return request<SendAcecfRequest, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation sendAprobacionComercial
     *
     * @param messageId 
     * @param sendAcecfRequest 
     * @return RequestConfig
     */
    fun sendAprobacionComercialRequestConfig(messageId: java.util.UUID, sendAcecfRequest: SendAcecfRequest) : RequestConfig<SendAcecfRequest> {
        val localVariableBody = sendAcecfRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/problem+json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/recepcion/{messageId}/acecf".replace("{"+"messageId"+"}", encodeURIComponent(messageId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
